{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}
    Your Profile
{% endblock %}


{% block content %}

<div class="row justify-content-center">

    <div class="col-md-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="profile-tab" data-toggle="pill" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
            <a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">Password</a>
            <a class="nav-link" id="preferences-tab" data-toggle="pill" href="#preferences" role="tab" aria-controls="preferences" aria-selected="false">Preferences</a>
            {% if request.user.profile.institution_name == "tue" %}
                <a class="nav-link" id="key-access-tab" data-toggle="pill" href="#key-access" role="tab" aria-controls="key-access" aria-selected="false">Key access</a>
            {% endif %}
        </div>
    </div>


    <div class="col-md-6">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="update">
                    {% crispy profile_update_form %}
                </div>
            </div>

            <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                <div class="update">
                    {% crispy password_change_form %}
                </div>
            </div>

            <div class="tab-pane fade" id="preferences" role="tabpanel" aria-labelledby="preferences-tab">
                <div class="update">
                    {% crispy preferences_update_form %}
                </div>
            </div>

            {% if request.user.profile.institution_name == "tue" %}
                <div class="tab-pane fade" id="key-access" role="tabpanel" aria-labelledby="key-access-tab">
                    <div class="update">
                        {% crispy key_access_update_form %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}