{% extends "base.html" %}

{% load static %}

{% block title %}
    Create User
{% endblock %}

{% block content %}

<div class="register">

    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="{% url 'cosmos_users:user_register' %}" novalidate>
        {% csrf_token %}

        <div class="mb-5">
            <img src="{% static "cosmos/img/cosmos_white_horizontal.png" %}" class="img-fluid mx-auto d-block" alt="Cosmos logo">
        </div>

        {% if user_form.non_field_errors|length > 0 or profile_form.non_field_errors|length > 0 %}
            <div class="alert alert-danger">
                {{ user_form.non_field_errors }}
                {{ profile_form.non_field_errors }}
            </div>
        {% endif %}

        {% for field in user_form %}

            <div class="form-group">
                <input class="form-control {% if field.errors|length > 0 %} is-invalid {% endif %} {% if field.field.required %} required {% endif %}" value="{{ field.value }}" name="{{ field.html_name }}" type="{{ field.field.widget.input_type }}" maxlength="{{ field.max_length }}" id="{{ field.id_for_label}}" placeholder="{{ field.label }}" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ field.help_text|safe }}">
                <div class="invalid-feedback">
                    <ul>
                    {% for error in field.errors %}
                        <li> {{error}} </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

        {% endfor %}

        {% for field in profile_form %}

            <div class="form-group">
                {% if field.field.widget.input_type == "select" %}
                    <select class="form-control {% if field.errors|length > 0 %} is-invalid {% endif %} {% if field.field.required %} required {% endif %}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ field.help_text|safe }}">
                    {% for id, name in field.field.choices %}
                        <option value="{{ id }}"{% if field.value == id %} selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                    </select> 
                {% elif field.field.widget.input_type == "checkbox" %}
                    <label class="form-check {% if field.errors|length > 0 %} is-invalid {% endif %} {% if field.field.required %} required {% endif %}">
                        <input class="form-check-input" type="checkbox" id="{{ field.id_for_label }}" name="{{ field.html_name}}"/>
                        I agree to
                        {% if field.html_name == "terms_confirmed" %} the <a id="termsLink" href="#" data-toggle="modal" data-target="#termsModal">terms and conditions</a>.
                        {% else %}{{ field.label.lower }}{% endif %}
                    </label>
                {% else %}
                    <input class="form-control {% if field.errors|length > 0 %} is-invalid {% endif %} {% if field.field.required %} required {% endif %}" value="{{ field.value }}" name="{{ field.html_name }}" type="{{ field.field.widget.input_type }}" maxlength="{{ field.maxlength }}" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ field.help_text|safe }}">
                {% endif %}
                <div class="invalid-feedback">
                    <ul>
                    {% for error in field.errors %}
                        <li> {{error}} </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

        {% endfor %}

        <div class="form-group">
            <button class="btn btn-primary btn-block" background-color="#90cad5" type="submit" name="submit" value="Register">Register</button>
        </div>
    </form>
</div>

<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termsModalTitle">Terms and Conditions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}