{% extends "subpage.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

<div class="pb-5">
    <form action="" method="post">
        {% csrf_token %}

        <div class="mb-5">
            <img src="{% static "cosmos/img/cosmos_white_horizontal.png" %}" class="img-fluid mx-auto d-block" alt="Cosmos logo">
        </div>

        {{ wizard.management_form }}
        {% crispy wizard.form %}

    </form>
</div>
{% endblock %}