[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"
psycopg2-binary = "*"
pytz = "*"
matplotlib = "*"
django-formtools = "<2.4"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-crum = "*"
django-sendfile2 = "*"
django-cleanup = "*"
django-ckeditor = "*"
jsonpickle = "*"
bs4 = "*"
gunicorn = "*"
requests = "*"
django-pipeline = "*"
django-better-admin-arrayfield = "*"
celery = "*"
django-celery-results = "*"
django-celery-beat = "*"
sendgrid = "*"
python-http-client = "*"
django-oauth-toolkit = "*"
django-cors-headers = "*"
django-redis = "*"
hiredis = "*"
Pillow = "*"
Django = "*"
django-ical = "*"
sorl-thumbnail = "*"
django-newsletter = {editable = true, git = "https://github.com/CosmosTUe/django-newsletter.git"}
"backports.zoneinfo" = "==0.2.1" # support for Python <= 3.8
django-tinymce = "*"

[dev-packages]
flake8 = "*"
flake8-django = "*"
pep8-naming = "*"
isort = "*"
black = "*"
tox = "*"
pre-commit = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
