wheel # helps with package management

##################
#  dependencies  #
##################
six # compatibility library between py2 and py3
psycopg2-binary>=2.8.5,<3 # postgresql adapter
pytz>=2020.1 # timezone library
matplotlib>=3.3.4

# djangocms apps
django-cms>=3.8.0
djangocms-text-ckeditor>=4.0.0
django-treebeard>=4.0,<5.0         # dependency for djangocms-admin-style
django>=3.1.6,<3.2

# better forms
django-formtools>=2.2,<3
django-crispy-forms>=1.10.0,<2
#crispy-bootstrap5>=0.3.1
git+git://github.com/bcvandendool/crispy-bootstrap5@main#egg=crispy-bootstrap5
django-crum

django-sendfile2

##################
#   deployment   #
##################

# hosting
gunicorn
requests>=2.24.0

# asset packaging
django-pipeline>=2.0.5,<3
django-better-admin-arrayfield>=1.3.0, <2

# async task queuing
celery>=4.4.0, <6
django-celery-results>=1.2.1, <3

# XHR
sendgrid>=6.4.7
python-http-client>=3.3.2
django-oauth-toolkit>=1.4.0
django-cors-middleware>=1.5.0
