{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="mx-auto w-50">
    <form method="post" enctype="multipart/form-data" id="form-container">
        {% crispy form %}
        {{ files.management_form|crispy }}
        {% for file_form in files %}
        <div class="file-form">
            {{ file_form.id }}
            {% crispy file_form helper %}
        </div>
        {% endfor %}
        </div>
        <button id="add-form", type="button", class="btn btn-primary">Add form</button>
        <input type="submit" name="submit" value="Update" class="btn btn-primary" id="submit-id-submit">
    </form>
</div>

{% endblock %}