{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="mx-auto w-50">
    <form method="post" enctype="multipart/form-data" id="form-container">
        {% crispy form %}

        <label class="form-label">Files</label>
        {{ files.management_form|crispy }}
        {% for file_form in files %}
        <div class="file-form row row-cols-lg-auto border mb-2 align-items-center">
            {{ file_form.id }}
            {% crispy file_form helper %}
        </div>
        {% endfor %}
        <button id="add-form", type="button", class="btn btn-primary">
            <i class="bi bi-plus-lg"></i>
            Add file
        </button>
        <div class="float-end">
            <input type="submit" name="submit" value="Update" class="btn btn-primary" id="submit-id-submit">
            <a href="{% url 'resources' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}