{% extends "base.html" %}

{% load static %}

{% block title %}
    Create User
{% endblock %}

{% block content %}

<div class="register">

    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="{% url 'user_register' %}" novalidate>
        {% csrf_token %}

        <div class="mb-5">
            <img src="{% static "cosmos/img/cosmos_white_horizontal.png" %}" class="img-fluid mx-auto d-block" alt="Cosmos logo">
        </div>

        {% if user_form.non_field_errors|length > 0 or profile_form.non_field_errors|length > 0 %}
            <div class="alert alert-danger">
                {{ user_form.non_field_errors }}
                {{ profile_form.non_field_errors }}
            </div>
        {% endif %}

        <div class="form-group">
            <input class="form-control {% if user_form.first_name.errors|length > 0 %} is-invalid {% endif %}" type="text" name="first_name" maxlength="30" required="" id="id_first_name" placeholder="First name" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ user_form.first_name.help_text|safe }}">
            <div class="invalid-feedback">
                <ul>
                {% for error in user_form.first_name.errors %}
                    <li> {{ error }} </li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control {% if user_form.last_name.errors|length > 0 %} is-invalid {% endif %}" type="text" name="last_name" maxlength="30" required="" id="id_last_name" placeholder="Last name" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ user_form.last_name.help_text|safe }}">
            <div class="invalid-feedback">
                <ul>
                {% for error in user_form.last_name.errors %}
                    <li> {{ error }} </li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control {% if user_form.username.errors|length > 0 %} is-invalid {% endif %}" type="email" name="username" maxlength="254" autofocus="" required="" id="id_username" placeholder="TU/e email" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ user_form.username.help_text|safe }}">
            <div class="invalid-feedback">
                <ul>
                {% for error in user_form.username.errors %}
                    <li> {{ error }} </li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control {% if user_form.email.errors|length > 0 %} is-invalid {% endif %}" type="email" name="email" maxlength="254" id="id_email" placeholder="Personal email (optional)" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ user_form.email.help_text|safe }}">
            <div class="invalid-feedback">
                <ul>
                {% for error in user_form.email.errors %}
                    <li> {{ error }} </li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control {% if user_form.password1.errors|length > 0 %} is-invalid {% endif %}" type="password" name="password1" autocomplete="new-password" required="" id="id_password1" placeholder="Password" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ user_form.password1.help_text|safe }}">
            <div class="invalid-feedback">
                <ul>
                {% for error in user_form.password1.errors %}
                    <li> {{ error }} </li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control {% if user_form.password2.errors|length > 0 %} is-invalid {% endif %}" type="password" name="password2" autocomplete="new-password" required="" id="id_password2" placeholder="Password confirmation" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ user_form.password2.help_text|safe }}">
            <div class="invalid-feedback">
                <ul>
                {% for error in user_form.password2.errors %}
                    <li> {{ error }} </li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="form-group">
            <select class="form-control {% if profile_form.nationality.errors|length > 0 %} is-invalid {% endif %}" id="{{ profile_form.nationality.id_for_label }}" name="{{ profile_form.nationality.html_name }}" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ user_form.nationality.help_text|safe }}">
                {% for id, name in profile_form.nationality.field.choices %}
                <option value="{{ id }}"{% if profile_form.nationality.value == id %} selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select> 
            <div class="invalid-feedback">
                <ul>
                {% for error in profile_form.nationality.errors %}
                    <li> {{ error }} </li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="form-group">
            <select class="form-control {% if profile_form.department.errors|length > 0 %} is-invalid {% endif %}" id="{{ profile_form.department.id_for_label }}" name="{{ profile_form.department.html_name }}" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ user_form.department.help_text|safe }}">
                {% for id, name in profile_form.department.field.choices %}
                <option value="{{ id }}"{% if profile_form.department.value == id %} selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                <ul>
                {% for error in profile_form.department.errors %}
                    <li> {{ error }} </li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="form-group">
            <select class="form-control {% if profile_form.program.errors|length > 0 %} is-invalid {% endif %}" id="{{ profile_form.program.id_for_label }}" name="{{ profile_form.program.html_name }}" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ user_form.program.help_text|safe }}">
                {% for id, name in profile_form.program.field.choices %}
                <option value="{{ id }}"{% if profile_form.program.value == id %} selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                <ul>
                {% for error in profile_form.program.errors %}
                    <li> {{ error }} </li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label class="form-check {% if profile_form.terms_confirmed.errors|length > 0 %} is-invalid {% endif %}">
                <input class="form-check-input" type="checkbox" id="id_terms_confirmed" name="terms_confirmed"/>
                I agree to the <a href="#" data-toggle="modal" data-target="#termsModal">terms and conditions</a>.
            </label>
            <div class="invalid-feedback">
                <ul>
                {% for error in profile_form.terms_confirmed.errors %}
                    <li> {{ error }} </li>
                {% endfor %}
                </ul>
            </div>
            <p class="help">{{ profile_form.terms_confirmed.help_text|safe }}</p>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-block" background-color="#90cad5" type="submit" name="submit" value="Register">Register</button>
        </div>
    </form>
</div>

<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termsModalTitle">Terms and Conditions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
window.addEventListener("load", function() {
    $(function() {
        $('[data-toggle="popover"]').popover();
        $('[data-toggle="tooltip"]').tooltip();
    });
});
</script>

{% endblock %}