
{% extends "subpage.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ event.title }}{% endblock title %}

{% block content %}

<div class="container">
    <div class="mx-auto w-75">

        <div class="card">
            <img src="{{ event.image.url}}" class="card-img-top event-image-large">
            <div class="card-body">
                {% if perms.cosmos.change_events and perms.cosmos.delete_events %}
                <div class="float-end">
                    <a class="btn p-0" href="{% url 'events-update' event.id %}">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a class="btn p-0" href="{% url 'events-delete' event.id %}">
                        <i class="bi bi-trash"></i>
                    </a>
                </div>
                {% endif %}
                <h4 class="card-title">{{ event.name }}</h4>
                <ul>
                    <li><b>From: </b>{{ event.start_time.date }}, <em>{{ event.start_time.time }}</em></li>
                    <li><b>To:   </b>{{ event.end_time.date }}, <em>{{ event.end_time.time }}</em></li>
                    <li><b>Where: </b>{{ event.location }}</li>
                    <li><b>Cost:  </b>{% if not event.price %} Free {% else %} {{ event.price }} € {% endif %}</li>
                </ul>
                
                <p class="lead">{{ event.lead }}</p>
                {{ event.description|safe }}
            </div>
        </div>
    </div>
</div>

{% endblock content %}