{% extends "subpage.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="mx-auto bg-cosmos-primary rounded" style="max-width: 480px;">

    <form method="post" class="p-4">
        {% csrf_token %}
        
        <div class="mb-5">
            <img src="{% static "cosmos/img/cosmos_white_horizontal.png" %}" class="img-fluid mx-auto d-block" alt="Cosmos logo">
        </div>

        {% crispy form %}

        <div class="d-grid">
            <button class="btn btn-primary btn-block" type="submit" value="login">Log In</button>
        </div>

        <p class="text-center mb-0 mt-2 text-white">
            New to Cosmos? <a href="{% url "cosmos_users:user_register" %}" class="no-underline text-primary">Click here to join</a>.
        </p>

    </form>

</div>

{% endblock %}