{% extends "subpage.html" %}

{% load static %}

{% block title %}
    Password Change
{% endblock %}

{% block content %}

    <div class="login pb-5">

        <form method="post">
            {% csrf_token %}

            <div class="mb-5">
                <img src="{% static "cosmos/img/cosmos_white_horizontal.png" %}" class="img-fluid mx-auto d-block" alt="Cosmos logo">
            </div>

            <div class="form-group">
                <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password" placeholder="Current password">
            </div>

            <div class="form-group">
                <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="New password">
            </div>

            <div class="form-group">
                <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="New password confirmation">
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" name="submit" value="Change password">Change password</button>
            </div>
        </form>
    </div>

{% endblock %}