{% extends "subpage.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}

     <div class="mx-auto bg-cosmos-primary rounded max-width-480">

        <h1>Password Reset</h1>

         <form method="post" class="p-4">
            {% csrf_token %}

            <div class="mb-5">
                <img src="{% static "cosmos/img/cosmos_white_horizontal.png" %}" class="img-fluid mx-auto d-block" alt="Cosmos logo">
            </div>

            {% crispy form %}

            <div class="d-grid">
                <button class="btn btn-primary" type="submit" name="submit" value="Reset password">Reset password</button>
            </div>
         </form>
     </div>

{% endblock %}