{% extends "subpage.html" %}

{% load static %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}

    <div class="login pb-5">

        <form method="post">
            {% csrf_token %}
            
            <div class="mb-5">
                <img src="{% static "cosmos/img/cosmos_white_horizontal.png" %}" class="img-fluid mx-auto d-block" alt="Cosmos logo">
            </div>

            <div class="form-group">
                <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="TU/e email">
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" name="submit" value="Reset password">Reset password</button>
            </div>
        </form>
    </div>

{% endblock %}