{% extends "subpage.html" %}

{% load static %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}

    <div class="mx-auto bg-cosmos-primary rounded text-white max-width-480 p-4">

        <div class="mb-5">
            <img src="{% static "cosmos/img/cosmos_white_horizontal.png" %}" class="img-fluid mx-auto d-block" alt="Cosmos logo">
        </div>

        <h1 class="text-center">Password reset sent</h1>
        </br>
        <p class="text-center">An email has been sent with instruction to reset your password, if an accounts exists with the email you entered.</p>
        <p class="text-center">If you have not received an email, please make sure you've entered the TU/e email you have registered with,
         and check your spam folder.</p>
    </div>

{% endblock %}