{% extends "subpage.html" %}

{% load static %}
{% load crispy_forms_tags%}

{% block title %}
    Password Change
{% endblock %}

{% block content %}

    <div class="mx-auto bg-cosmos-primary rounded max-width-480">

        <form method="post" class="p-4">
            {% csrf_token %}

            <div class="mb-5">
                <img src="{% static "cosmos/img/cosmos_white_horizontal.png" %}" class="img-fluid mx-auto d-block" alt="Cosmos logo">
            </div>

            {% crispy form %}

            <div class="d-grid">
                <button class="btn btn-primary" type="submit" name="submit" value="Change password">Change password</button>
            </div>
        </form>
    </div>

{% endblock %}