{
    "SECRET_KEY": "j@7*rtssewjfhix2f^7&1iypigm=o4ju1qtdd!)ad$s1*hlkj2",
    "DEBUG": true,
    "ALLOWED_HOSTS": [],
    "DATABASES": {
        "DEFAULT": {
            "NAME": "cosmos_website_test",
            "USER": "github_actions",
            "PASSWORD": "2020123",
            "HOST": "localhost",
            "PORT": 5432,
            "OPTIONS": {
                "options": ""
            }
        },
        "LEGACY": {
            "NAME": "cosmos_website_test_legacy",
            "USER": "github_actions",
            "PASSWORD": "2020123",
            "HOST": "localhost",
            "PORT": 5432,
            "OPTIONS": {
                "options": ""
            }
        }
    },
    "EMAIL": {
        "HOST": "smtp.sendgrid.net",
        "PORT": 587,
        "USERNAME": "apikey",
        "PASSWORD": "fakekey",
        "USE_TLS": true,
    },
    "EMAIL_GSUITE": {
        "HOST": "smtp-relay.gmail.com",
        "PORT": 587,
        "USERNAME": "noreply@cosmostue.nl",
        "PASSWORD": "fakepassword",
        "USE_TLS": true
    },
    "PRETIX_DOMAIN": "http://localhost:8345",
    "PRETIX_AUTHORIZATION_HEADER": {
        "Authorization": "Token qe7op3k271qtdi1pspbdpxlhcm7oyve4fgkxdrkcucrjmiwdey8bdebcokz4ar8y"
    }
  }
  