<div class="container" style="background-color: #90cad5;">

    <h1 class="text-center" style=style="color: rgb(255,255,255); font-family: Raleway, sans-serif;"> Committees </h1>
    </br>
    <div class="col text-center">
        <button type="button" class="btn btn-light" onclick="location.href=''"> Committee page </button>
    </div>

    <div class="row" style="padding-bottom: 30px">

    {% for committee in instance.committees.all %}

        <div class="col-sm-4">

            <img src="{{ committee.photo.url }}" style="width: 100%; padding: 10px">
            <h4 class="text-center" style="color: rgb(255,255,255); font-family: Raleway, sans-serif;">{{ committee.name }}</h4>

        </div>

    {% endfor %}

    </div>

</div>