{% load sekizai_tags %}
{% load pipeline %}

{% addtoblock "css" %} {% stylesheet "cosmos_cms" %} {% endaddtoblock %}

<div>

    <h1 class="text-center committee-list-title"> Committees </h1>
    </br>
    <div class="col text-center">
        <button type="button" class="btn btn-light" onclick="location.href='/committees'"> See all </button>
    </div>

    <div class="row committee-row">

    {% for committee in instance.committees.all %}

        {% if forloop.first %} <div class="row committee-row"> {% endif %}

        <div class="col-sm-4">

            <img src="{{ committee.photo.url }}" class="committee-image">
            <h4 class="text-center committee-name">{{ committee.name }}</h4>

        </div>

        {% if forloop.counter|divisibleby:3 %} </div> <div class="row committee-row"> {% endif %}
        {% if forloop.last %} </div> {% endif %}

    {% endfor %}

    

</div>