{% load sekizai_tags %}
{% load static %}


{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{% static 'css/image_text_card.css' %}">
</link> {% endaddtoblock %}

<div class="container-fluid">
    <div class=row>
        {% if instance.orientation %}
        <div class="col-sm-6">
            <img src={{instance.image}}>
        </div>
        <div class="col-sm-6">
            <h3>{{instance.title}}</h3>
            <p>{{instance.text}}</p>
            <a href="{{instance.buttonLink}}" role="button" class="btn btn-primary">{{instance.buttonText}}</button>
        </div>
        {% else %}
        <div class="col-sm-6">
            <h3>{{instance.title}}</h3>
            <p>{{instance.text}}</p>
            <a href="{{instance.buttonLink}}" role="button" class="btn btn-primary">{{instance.buttonText}}</button>
        </div>
        <div class="col-sm-6">
            <img src={{instance.image}}>
        </div>
        {% endif %}

    </div>

</div>