{% load sekizai_tags %}
{% load static %}


{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{% static 'css/image_text_card.css' %}">
{% endaddtoblock %}
    <div class="row no-gutters">
        {% if instance.orientation %}
            <div class="col-md-6">
                <img src={{instance.image.url}} class="img-fluid" style="width:100%;">
            </div>
            <div class="col-md-6 text-center bg-secondary text-light py-2">
                <h2>{{instance.title}}</h2>
                <p>{{instance.text}}</p>
                <a href="{{instance.ButtonLink}}" role="button" class="btn btn-primary" >{{instance.ButtonText}}</button></a>
            </div>
        {% else %}
            <div class="col-md-6 text-center bg-secondary text-light py-2">
                <h2>{{instance.title}}</h2>
                <p>{{instance.text}}</p>
                <a href="{{instance.ButtonLink}}" role="button" class="btn btn-primary">{{instance.ButtonText}}</button></a>
            </div>
            <div class="col-md-6">
                <img src={{instance.image.url}} class="img-fluid" style="width:100%">
            </div>
        {% endif %}

    </div>

