{% extends "subpage.html" %}

{% load static %}
{% load thumbnail %}

{% block title %}
    Committee
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="m-0">Committees</h3>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="row py-4 row-cols-1 row-cols-md-3 g-4">
            {% for committee in committees %}
                <div class="col">
                    <div class="card h-100">
                        {% thumbnail committee.photo "800" crop="center" format="PNG" as im %}
                        <img src="{{ im.url }}" class="card-img-top"
                             alt="Photo of {{ committee.name }}">
                        {% endthumbnail %}
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ committee.display_name }}</h5>
                            <p class="card-text">{{ committee.description }}</p>
                            <a href="{% url 'committee_subpage' committee.slug %}" class="btn btn-primary mt-auto">see
                                more</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}