{% extends "subpage.html" %}

{% load crispy_forms_tags %}

{% block title %}Create Event{% endblock title%}

{% block content %}

<div class="container">
    <div class="mx-auto w-50 bg-cosmos-primary rounded">
        <form method="post" enctype="multipart/form-data" id="form-container" class="p-4 overflow-hidden needs-validation" novalidate>

            <h2 class="text-white">Create Event</h2>

            {% csrf_token %}
            {{ form.media }}

            <div id="div_id_name" class="mb-3">
                <label for="id_name" class="form-label requiredField">Name<span class="asteriskField">*</span></label>
                <input type="text" name="name" maxlength="255" class="textinput textInput form-control" required="" id="id_name">
                <div class="invalid-feedback">Please fill out this field</div>
                <div class="valid-feedback"> </div>
            </div>
            {% crispy form %}

            <div class="float-end">
                <input type="submit" name="submit" value="Create" class="btn btn-primary" id="submit-id-submit">
                <a href="{% url 'cosmos_events:events-list' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}