.partners .carousel-inner .carousel-item.active,
.partners .carousel-inner .carousel-item-next,
.partners .carousel-inner .carousel-item-prev,
.testimonials .carousel-inner .carousel-item.active,
.testimonials .carousel-inner .carousel-item-next,
.testimonials .carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 992px) {
    .partners .carousel-inner .carousel-item-end.active,
    .partners .carousel-inner .carousel-item-next,
    .testimonials .carousel-inner .carousel-item-end.active,
    .testimonials .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }
    .partners .carousel-inner .carousel-item-start.active,
    .partners .carousel-inner .carousel-item-prev,
    .testimonials .carousel-inner .carousel-item-start.active,
    .testimonials .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
    .partners .carousel-inner .carousel-item-end,
    .partners .carousel-inner .carousel-item-start,
    .testimonials .carousel-inner .carousel-item-end,
    .testimonials .carousel-inner .carousel-item-start {
        transform: translateX(0);
    }
}

@media (max-width: 992px) {
    .partners .carousel-inner .carousel-item-end.active,
    .partners .carousel-inner .carousel-item-next,
    .testimonials .carousel-inner .carousel-item-end.active,
    .testimonials .carousel-inner .carousel-item-next {
        transform: translateX(100%);
    }
    .partners .carousel-inner .carousel-item-start.active,
    .partners .carousel-inner .carousel-item-prev,
    .testimonials .carousel-inner .carousel-item-start.active,
    .testimonials .carousel-inner .carousel-item-prev {
        transform: translateX(-100%);
    }
    .partners .carousel-inner .carousel-item-end,
    .partners .carousel-inner .carousel-item-start,
    .testimonials .carousel-inner .carousel-item-end,
    .testimonials .carousel-inner .carousel-item-start {
        transform: translateX(0);
    }

    .testimonials .carousel-inner .carousel-item {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .partners .static-partners>div:first-child {
        display: block;
    }
    .partners .static-partners>div {
        display: none;
    }
}

.partners img {
    max-height: 80px;
    vertical-align: middle;
}

.partners .carousel-item {
    justify-content: center;
}