{% extends "subpage.html" %}

{% load crispy_forms_tags %}

{% block title %}Delete photo{% endblock %}

{% block content %}

<div class="container">
    <div class="mx-auto w-50 bg-cosmos-primary rounded">
        <form method="post" class="p-4">
            {% csrf_token %}
            <p class="text-white">Are you sure you want to delete "{{ object }}"?</p>
            <input type="submit" class="btn btn-primary" value="Confirm">
            <a class="btn btn-secondary" href="{% url 'cosmos_core:photo_album-view' object.album.id %}">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}