{% extends "subpage.html" %}

{% load static %}

{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}News{% endblock title%}

{% block content %}

<div class="container">
    <div class="w-75 mx-auto">
        <div class="row">
            <div class="col-6">
                <h2>News</h2>
            </div>
            <div class="col-3 py-1">
                {% if perms.cosmos.change_news %}
                <div class="float-end">
                    <a class="btn btn-cosmos-primary" href="{% url 'cosmos_core:news-create' %}">
                        <span class="d-md-block d-none"><i class="bi bi-plus-lg"></i> Add new Article</span>
                        <i class="bi bi-plus-lg d-sm-block d-md-none"></i>
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="col-3 py-1">
                <div class="float-end">
                    <a class="btn btn-cosmos-primary" href="{% url 'cosmos_users:subscribe-newsletter' active_tab='preferences'%}">
                        <span class="d-md-block d-none">Subscribe to the Newsletter</span>
                        <i class="bi bi-envelope d-sm-block d-md-none"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-2 mt-2" id="NewsGrid">
        {% for news in news_list %}
            <div class="col">
                <div class="card h-100{% if not news.published %} news-disabled{% endif %}">
                    {% thumbnail news.image "600" crop="center" as im %}
                        <img class="card-img-top news-image" src="{{ im.url }}">
                    {% endthumbnail %}
                    <div class="card-body">
                        <h5 class="card-title">{{ news.title }}</h5>
                        <p class="news-truncate">{{ news.lead }}</p>
                        <a class="stretched-link" href="{% url 'cosmos_core:news-view' news.id %}"></a>
                    </div>
                    <div class="card-footer">
                        {% if perms.cosmos.change_news and perms.cosmos.delete_news %}
                        <div class="float-end">
                            <a class="btn p-0 btn-over-stretched" href="{% url 'cosmos_core:news-update' news.id %}">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a class="btn p-0 btn-over-stretched" href="{% url 'cosmos_core:news-delete' news.id %}">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                        {% endif %}
                        <small class="text-muted">
                            By {{ news.author.first_name }} - {{ news.publish_date }}
                        </small>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}