{% extends "subpage.html" %}

{% load crispy_forms_tags %}

{% block title %}News{% endblock title%}

{% block content %}

<div class="container">
    <div class="w-75 mx-auto">
        {% if perms.cosmos.change_news %}
        <div class="float-end">
            <a class="btn btn-cosmos-primary" href="{% url 'cosmos_core:news-create' %}">
                <i class="bi bi-plus-lg"></i>
                Add new Article
            </a>
        </div>
        {% endif %}
        <h2>News</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2" id="GMMGrid">
        {% for news in news_list %}
            <div class="col">
                <div class="card h-100{% if not news.published %} news-disabled{% endif %}">
                    <img class="card-img-top news-image" src="{{ news.image.url }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ news.title }}</h5>
                        <p class="news-truncate">{{ news.lead }}</p>
                        <a class="stretched-link" href="{% url 'cosmos_core:news-view' news.id %}"></a>
                    </div>
                    <div class="card-footer">
                        {% if perms.cosmos.change_news and perms.cosmos.delete_news %}
                        <div class="float-end">
                            <a class="btn p-0 btn-over-stretched" href="{% url 'cosmos_core:news-update' news.id %}">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a class="btn p-0 btn-over-stretched" href="{% url 'cosmos_core:news-delete' news.id %}">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                        {% endif %}
                        <small class="text-muted">
                            By {{ news.author.first_name }} - {{ news.publish_date }}
                        </small>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}