#Makes a systemd socket, so that the website only starts when an actual request is made

[Unit]
Description=gunicorn socket

[Socket]
ListenStream=/run/cosmos.sock
Group=www-data

[Install]
WantedBy=sockets.target