<div class="row no-gutters">
    {% if instance.orientation %}
        <div class="col-sm-6 background-image" style="background: url({{instance.image.url}}) no-repeat center; background-size: 100%;">
        </div>
        <div class="col-sm-6 text-center text-light p-3 my-3">
            <h2>{{instance.title}}</h2>
            <p>{{instance.text | safe}}</p>
            {% if instance.Button %}
                <a href="{{instance.ButtonLink}}" role="button" class="btn btn-primary" >{{instance.ButtonText}}</button></a>
            {% endif %}
        </div>
    {% else %}
        <div class="col-sm-6 text-center text-light p-3 my-3">
            <h2>{{instance.title}}</h2>
            <p>{{instance.text | safe}}</p>
            {% if instance.Button %}
                <a href="{{instance.ButtonLink}}" role="button" class="btn btn-primary">{{instance.ButtonText}}</button></a>
            {% endif %}
        </div>
        <div class="col-sm-6 background-image" style="background: url({{instance.image.url}}) no-repeat center; background-size: 100%;">
        </div>
    {% endif %}
</div>
