{% extends "subpage.html" %}

{% load thumbnail %}

{% block title %}About{% endblock title%}
{% block content %}

<div class="container">
    <div class="w-75 mx-auto">
        <h2 class="text-center">About Us</h2>
        <p>
            Cosmos is not just an association, it’s a community, where we aim to provide a welcoming and friendly environment
            to all students at the TU/e, whether it be online or through the Common Room. 
        </p>
        <p>
            We are the voice for the international students on our campus on all matters related to the TU/e. For most
            internationals, we are a safe landing spot for when they first arrive in the Netherlands.
        </p>
        <p>
            Here, at Cosmos, we organize a myriad of events, highlighting the many different cultures present in our community.
        </p>

        <br>
        <h2 class="text-center py-2">History</h2>
        
        <p>
        On Thursday, October 21st, 2010, a diverse group of TU/e international students founded the Common Room. The Common Room acted as a living room in the old student center “De Bunker" at the John F. Kennedylaan.  
        </p>
        <p>
            The Common Room was the first to provide a place of social interaction for internationals and help them integrate into the Dutch student culture. The early Common Room held dinners and parties, as well as a place to come together for Dutch and international students.
        </p>        
        <p>
            Later in 2012, two of the founding students proposed to the university to establish an international student association. The proposal got the university’s approval and Cosmos was born. With the foundation of the new association, people from different backgrounds were now able to share their culture with the TU/e community.  In addition, it provided the first point of contact for new students to ask questions about housing and studying in the Netherlands.
        </p>
        <p> 
            Starting from February 1st, 2013, the Common Room moved to the MetaForum building on the TU/e campus. As of yet, this is the current home base for the Cosmos association. The move coincided with an increased number of collaborative events between Cosmos and the other student associations at the university.
        </p>
        <p>
            Over the next years, Cosmos became increasingly involved with internationalization and policymaking at the university. Cosmos started organizing the official TU/e Introduction Day for international/exchange students, helping them get settled in Eindhoven. 
        </p>
        <p>
            In 2018, AEGEE Eindhoven has joined Cosmos as co-inhabitants of the Common Room. Cosmos and AEGEE together started the Common Room Committee to keep the living room of the TU/e campus an open and fun place for all members of the community.
        </p>
        <p>
            In 2021, Cosmos was one of the initiators of the first official umbrella of international/spiritual associations, further establishing the footprint of international students as part of the university life.
        </p>

        <div class="text-center py-4">
            <h3>Board</h3>
            {% if board %}
            {% thumbnail board.photo "x800" crop="center" as im %}
                <img src="{{ im.url }}" class="img-fluid pb-2" alt="Photo of {{ board.display_name }}">
            {% endthumbnail %}
                <div class="d-flex flex-column">
                    <p>{{ board.description }}</p>
                </div>
            {% endif %}
            <a class="btn btn-cosmos-primary" href="{% url 'boards_overview' %}">Visit Previous Boards</a>
        </div>


        <h2 class="text-center">Testimonials</h2>
        <div class="row mx-auto my-auto justify-content-center testimonials">
            <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    {% for testimonial in testimonials %}
                    <div class="carousel-item{% if forloop.first %} active{% endif %}">
                        <div class="col-md-4">
                            <figure class="text-center">
                                <blockquote class="blockquote">
                                    <p>{{ testimonial.text }}</p>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    {{ testimonial.author }}
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev btn-cosmos" type="button" data-bs-target="#testimonialCarousel">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next btn-cosmos" type="button" data-bs-target="#testimonialCarousel">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

    </div>
</div>

{% endblock content%}