{% load static %}
<footer class="section-bg mt-auto">
    <div class="footer-top">
        <div class="container pt-5 pb-3">
            <div class="row">
                <div class="col-md-4 text-center py-2">
                    <h3>Cosmos</h3>
                    <p>
                        Den Dolech 2
                        <br> MetaForum 0.090
                        <br> TU Eindhoven
                        <br> 5612 AZ Eindhoven
                        <br> KvK number: 56429142
                        <br>
                        <br>
                        <strong>Phone: </strong>+31 643 951 576
                        <br>
                        <strong>Email: </strong> cosmos@tue.nl
                        <br>
                        <strong>External: </strong>external.cosmos@tue.nl
                    </p>
                </div>
                <div class="col-md-4 d-none text-center d-md-block">
                    <img src="{% static 'cosmos/img/cosmos_alternate_grey.svg' %}">
                </div>
                <div class="col-md-4 text-center py-2">
                    <h4>Useful links</h4>
                    <p>
                        <a href="{% static 'cosmos/pdf/Cosmos_Privacy_Policy.pdf' %}">Privacy Policy</a> <br>
                        <a href="{% url 'cosmos_core:terms' %}">Terms and Conditions</a> <br>
                        <a href="https://wiki.cosmostue.nl/">Eindhoven Student Wiki</a> <br>
                        <a href="https://linktr.ee/Cosmos2020">Linktree</a> <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-bot">
        <div class="container pt-5 pb-3">
            <div class="row">
                <div class="col-md-4 text-center pb-1">
                    <div class="credits">
                        Designed by the
                        Website Committee
                    </div>
                </div>
                <div class="col-md-4 d-none text-center d-md-block">
                </div>
                <div class="col-md-4 social-links text-center pt-1">
                    <a href="https://www.facebook.com/cosmos.tue/">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="https://discord.gg/pep5FZ9">
                        <i class="bi bi-discord"></i>
                    </a>
                    <a href="https://www.instagram.com/cosmostue/">
                        <i class="bi bi-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>