{% extends "base.html" %} 

{% load static %}
{% load thumbnail %}

{% block base-content %}
<section class="home-img min-vh-100">
    <div class="container d-flex h-100">
        <div class="mx-auto text-center">
            <img class="img-fluid mh-50" src="{% static 'cosmos/img/cosmos_alternate_descriptor.svg' %}">
        </div>
    </div>
</section>
<section id="stats" class="section-bg">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="stat-box">
                    <span>{{ nationality_amount }}</span>
                    <p>Nationalities</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="stat-box">
                    <span>{{ member_amount }}</span>
                    <p>Members</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="stat-box">
                    <span>{{ active_years }}</span>
                    <p>Active Years</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="stat-box">
                    <span>{{ events_amount }}</span>
                    <p>Events Per Year</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container py-5">
        <div class="section-title">
            <h2> About Us</h2>
        </div>
        <div class="row content">
            <div class="col-lg-6">
                <p>
                    Cosmos is not just an association, it’s a community, where we aim to provide a welcoming and friendly environment
                    to all students at the TU/e, whether it be online or through the Common Room. 
                </p>
                <p>
                    We are the voice for the international students on our campus on all matters related to the TU/e. For most
                    internationals, we are a safe landing spot for when they first arrive in the Netherlands.
                </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    Here, at Cosmos, we organize a myriad of events, highlighting the many different cultures present in our community.
                </p>
                <a href="{% url 'cosmos_core:about' %}" class="btn btn-cosmos-outline-primary">Learn More</a>
            </div>
        </div>
    </div>
</section>
<section id="events" class="pb-5 section-bg">
    <div class="container py-5">
        <div class="section-title">
            <h2>Events</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for event in event_list %}
            <div class="col">
                <div class="card h-100">
                    {% thumbnail event.image "x350" crop="center" as im %}
                        <img src="{{ im.url }}" class="card-img-top">
                    {% endthumbnail %}
                    <div class="card-body">
                        <h5 class="card-title">{{ event.name }}</h5>
                        <p class="card-text">{{ event.lead }}</p>
                        <a href="{% url 'cosmos_events:events-view' event.id %}" class="stretched-link"></a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ event.start_date_time }} - {{ event.end_date_time }}, {{ event.location }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section id="news" class="pb-5">
    <div class="container py-5">
        <a class="section-title" href="{% url 'cosmos_core:news-list' %}">
            <h2>News</h2>
        </a>
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for news in news_list %}
            <div class="col">
                <div class="card h-100">
                    {% thumbnail news.image "x350" crop="center" as im %}
                        <img class="card-img-top news-image" src="{{ im.url }}">
                    {% endthumbnail %}
                    <div class="card-body">
                        <h5 class="card-title">{{ news.title }}</h5>
                        <p class="news-truncate">{{ news.lead }}</p>
                        <a class="stretched-link" href="{% url 'cosmos_core:news-view' news.id %}"></a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            By {{ news.author.first_name }} - {{ news.publish_date }}
                        </small>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% if partners %}
<section id="partners" class="section-bg">
    <div class="container py-5">
        <div class="section-title">
            <h2>Partners</h2>
        </div>
        <div class="mx-auto my-auto justify-content-center partners">
                <div id="partnerCarousel" class="carousel slide carousel-dark" data-bs-ride="carousel">
                    <div class="row carousel-inner" role="listbox">
                        {% for partner in partners %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="col-md py-5 text-center">
                                <a href="{{ partner.url }}">
                                    <img src="{{ partner.image.url }}" alt="{{ partner.name }}" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev btn-cosmos" type="button" data-bs-target="#partnerCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next btn-cosmos" type="button" data-bs-target="#partnerCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock base-content %}