{% extends "subpage.html" %}
{% block title %}Resources{% endblock title%}
{% block content %}

<div class="container">
  <div class="w-75 mx-auto">

    <h2 class="text-center">Wiki</h2>
    <p>
        Information about being a student at TU/e or an expat in Eindhoven can be
        hard to find, and you can often feel lost or left out. At Cosmos, we aim to
        collect as much information as possible about student life at the TU/e and
        provide tips, especially to those moving to the Netherlands for the first
        time.
    </p>
    <p>
        Regardless of whether you are about to start your new life in the
        Netherlands or have lived here for a while, this Wiki contains lots of
        information and tips that can help you survive in the city and navigate
        through the university.
    </p>
    <div class="text-center">
        <a class="btn btn-cosmos-primary" href="https://wiki.cosmostue.nl/">Visit the Wiki</a>
    </div>

    <h2 class="text-center mt-5">Common Room</h2>
    <p>
        If you would much rather talk to us in person, you are always welcome to go
        to our Common Room and talk with us.
    </p>
    <p>
        We are located on the Ground Floor of the Metaforum Building in room MF
        0.090. As the Common Room is kept open by volunteers, opening times vary,
        but you can almost always find us on working days between 12:00-17:30. If
        you are unable to find the room, we recommend you go to the Markthal and
        look to the East of the stairs ascending to Metaforum.
    </p>

    <h2 class="text-center mt-5">Discord</h2>
    <p>
        Discord is a great mix between modern messaging services and those old
        community-driven forums that were prevalent on the internet. Thanks to the
        ability to create topic-oriented text channels, we have been able to answer
        questions effectively through there. People can also check if their question
        has been asked before by accessing the responses through the search bar.
        This is extremely useful during the admissions period as other means of
        finding information can get too busy and the university is overloaded with
        emails.
    </p>
    <p>
        We understand Discord might have a learning curve for most people, but we
        recommend Ian Corzine's video "How to Use Discord App - EASY Discord
        Tutorial". When you join our Discord, just choose roles through our
        "#welcome" and "#major-role" channels to gain full access to the server.
    </p>
    <div class="text-center">
        <a class="btn btn-cosmos-primary" href="https://discord.gg/pep5FZ9">Join our Discord</a>
    </div>

    <h2 class="text-center mt-5">Internal Documents</h2>
    <p>
        The Cosmos policy documents and GMM documents can be found on the pages linked
        below. In order to be able to see the documents, you need to be a member of
        Cosmos and be logged into the website.
    </p>
    <div class="text-center d-block">
        <a class="btn btn-cosmos-primary" href="{% url 'cosmos_core:internal-list' %}">Internal Documents</a>
        <a class="btn btn-cosmos-primary" href="{% url 'cosmos_core:gmm-list' %}">GMM Documents</a>
    </div>

  </div>
</div>

{% endblock content %}
