{% extends "subpage.html" %}

{% load crispy_forms_tags %}

{% block title %}Photo Albums{% endblock title %}

{% block content %}

<div class="container">
    <div class="w-75 mx-auto">
        <div class="d-flex justify-content-between">
            <h2 class="my-auto">Photo Albums</h2>

            <div class="d-flex">
                {% if prev %}
                <a href="{% url 'photo_album-list_year' year|add:"-1" %}" class="my-auto fs-2">
                    <i class="bi bi-chevron-left"></i>
                </a>
                {% endif %}
                <h2 class="my-auto raleway-number-title">{{ year }}-{{ year|add:"1" }}</h2>
                {% if next %}
                <a href="{% url 'photo_album-list_year' year|add:"1" %}" class="my-auto fs-2">
                    <i class="bi bi-chevron-right"></i>
                </a>
                {% endif %}
            </div>

            {% if perms.cosmos.add_photoalbum %}
            <a class="btn btn-cosmos-primary my-auto" href="{% url 'photo_album-create' %}">
                <i class="bi bi-plus-lg"></i>
                Add new Photo Album
            </a>
            {% endif %}
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
            {% for album in album_list %}
            <div class="col">
                <div class="card">
                    <img src="{{ album.album_cover.url }}" class="card-img-top album-cover-image">
                    <div class="card-body">
                        <h5 class="card-title">{{ album.title }} ({{ album.date }})</h5>
                        <a class="stretched-link" href="{% url 'photo_album-view' album.id %}"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}