{% extends "subpage.html" %}

{% load crispy_forms_tags %}

{% block title %}Photo Albums{% endblock title %}

{% block content %}

<div class="container">
    <div class="w-75 mx-auto">
        <div class="float-end">
            <a class="btn btn-cosmos-primary" href="{% url 'photo_album-create' %}">
                <i class="bi bi-plus-lg"></i>
                Add new Photo Album
            </a>
        </div>
        <h2>Photo Albums</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
            {% for album in album_list %}
            <div class="col">
                <div class="card">
                    <img src="{{ album.album_cover.url }}" class="card-img-top album-cover-image">
                    <div class="card-body">
                        <h5 class="card-title">{{ album.title }} ({{ album.date }})</h5>
                        <a class="stretched-link" href="{% url 'photo_album-view' album.id %}"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}