{% extends "subpage.html" %}

{% load static %}
{% load thumbnail %}

{% block title %}
    Board
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="m-0">Previous Boards</h3>
            </div>
        </div>
    </div>
    <div class="container py-4">
            <div class="row py-4 row-cols-1 row-cols-md-3 g-4">
                {% for board in boards %}
                    <div class="col">
                        <div class="card h-100">
                            {% thumbnail board.photo "800x600" crop="center" as im %}
                            <img src="{{ im.url }}" class="card-img-top"
                                 alt="Photo of {{ board.display_name }}">
                            {% endthumbnail %}
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ board.display_name }}</h5>
                                {% if board.description %} <p class="card-text">{{ board.description }}</p> {% endif %}
                                <ul>
                                {% for person in board.members %}
                                    <li>{{ person }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}
