{% extends "subpage.html" %}
{% block content %}
<section id="title" class="section-bg">
    <div class="container">
        <div class="section-title">
            <h2>About Us</h2>
        </div>
    </div>
</section>


<section id="history">
    <div class="container py-5">
        <div class="section-title">
            <h3>History</h3>
        </div>
    </div>
</section>


<section id="board" class="section-bg">
    <div class="container py-5">
        <a type="button" class="btn btn-primary" href="{% url 'boards_overview' %}">All Boards</a>
    </div>
</section>


<section id="testimonials">
    <div class="container py-5">

    </div>
</section>

{% endblock content%}