{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<!doctype html>
<html>

<head>

    <!-- Page title on the browser-->
    <title>{% block title %} COSMOS {% endblock title %}</title>

    <!-- Custom CSS + Bootstrap CSS/Jquery-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Blocks documenetation:
         https://django-sekizai.readthedocs.io/en/latest/   
    -->
    {% render_block "css" %}


</head>

<body>
    {% cms_toolbar %}
    <div class="container">

        <!--Menu documentation: 
            http://docs.django-cms.org/en/latest/reference/navigation.html
        -->

        <ul class="nav">
            {% show_menu 0 100 100 100 %}
        </ul>
        {% block content %}{% endblock content %}
    </div>
    {% render_block "js" %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


</body>

</html>