<footer>
    <div class="container d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
            <div class="credits">
                Designed by the
                <a href="#">Website Committee</a>
            </div>
        </div>
        <div class="social-links text-center">
            <a href="https://www.facebook.com/cosmos.tue/">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="https://discord.gg/pep5FZ9">
                <i class="bi bi-discord"></i>
            </a>
            <a href="https://www.instagram.com/cosmostue/">
                <i class="bi bi-instagram"></i>
            </a>
        </div>
    </div>
</footer>