{% extends "base.html" %} {% load static %} {% block base-content %}
<section class="home-img min-vh-100">
    <div class="container d-flex h-100">
        <div class="mx-auto text-center">
            <img class="img-fluid mh-50" src="{% static 'cosmos/img/cosmos_white_horizontal.png' %}">
        </div>
    </div>
</section>
<section id="stats" class="section-bg">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="stat-box">
                    <span>69</span>
                    <p>Nationalities</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="stat-box">
                    <span>69</span>
                    <p>Members</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="stat-box">
                    <span>69</span>
                    <p>Active Years</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="stat-box">
                    <span>69</span>
                    <p>Events Per Year</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container py-5">
        <div class="section-title">
            <h2> About Us</h2>
        </div>
        <div class="row content">
            <div class="col-lg-6">
                <p>
                    We are an associationLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p> We make drinks too!Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <a href="#" class="btn btn-cosmos-outline-primary">Learn More</a>
            </div>
        </div>
    </div>
</section>
<section id="events" class="pb-5 section-bg">
    <div class="container py-5">
        <div class="section-title">
            <h2>Events</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="https://bit.ly/2RUOxXK" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Super Cool Event</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://bit.ly/3cavqQ4" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Another Cool Event</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://bit.ly/3uKs50y" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Did I Mention Free Pizza?</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="news" class="pb-5">
    <div class="container py-5">
        <div class="section-title">
            <h2>News</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="https://bit.ly/2RUOxXK" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Woah, This Cool New Thing Happend!</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://bit.ly/3cavqQ4" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Quartile 4 Newsletter</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://bit.ly/3uKs50y" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Member Blogpost</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock base-content %}