{% extends "subpage.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="w-75 mx-auto">
            <div class="row row-cols-1 row-cols-md-3 g-4" id="GMMGrid">
            {% for news in news_list %}
                <div class="col">
                    <div class="card h-100">
                        <img class="card-img-top news-image" src="{{ news.image.url }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ news.title }}</h5>
                            <p class="news-truncate">{{ news.lead }}</p>
                            <a class="stretched-link" href="#"></a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                By {{ news.author.first_name }} - {{ news.date }}
                            </small>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
    </div>
</div>

{% endblock %}