.events-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.events-image {
    width: 100%;
    height: 18vh;
    object-fit: cover;
}

.events-image-large {
    width: 100%;
    height: 45vh;
    object-fit: cover;
}