{% extends "base.html" %}

{% load static %}

{% block title %}
    Login
{% endblock %}

{% block content %}

    <div class="login">

        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

         <form method="post">
            {% csrf_token %}
            
            <div class="mb-5">
                <img src="{% static "cosmos/img/cosmos_white_horizontal.png" %}" class="img-fluid mx-auto d-block" alt="Cosmos logo">
            </div>

            {% if form.non_field_errors|length > 0 %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors%}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form %}

                <div class="form-group">
                    <input class="form-control {% if field.errors|length > 0 %} is-invalid {% endif %} {% if field.field.required %} required {% endif %}" name="{{ field.html_name }}" type="{{ field.field.widget.input_type }}" maxlength="{{ field.max_length }}" id="{{ field.id_for_label}}" placeholder="{% if field.label == "Username" %}TU/e email {% else %}{{ field.label }}{% endif %}" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ field.help_text|safe }}">
                    <div class="invalid-feedback">
                        <ul>
                        {% for error in field.errors %}
                            <li> {{error}} </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>

            {% endfor %}

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" value="login">Log In</button>
            </div>

            <p class="text-center mb-0">
                New to Cosmos? <a href="{% url 'user_register' %}" class="no-underline text-primary">Click here to join</a>.
            </p>
         </form>
    </div>

{% endblock %}