{% extends "base.html" %}

{% load static %}

{% block title %}
    Login
{% endblock %}

{% block content %}

    <div class="login">

         <form method="post">
            {% csrf_token %}
            
            <div class="mb-5">
                <img src="{% static "cosmos/img/cosmos_white_horizontal.png" %}" class="img-fluid mx-auto d-block" alt="Cosmos logo">
            </div>

            <div class="form-group">
                <input class="form-control" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" placeholder="TU/e email">
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="Password">
                {{ form.password.errors }}
            </div>
            <div class="form-group form-check remove-form-group-border">
                <input type="checkbox" class="form-check-input" id="remember" name="remember">
                <label for="remember" class="form-check-label">Remember Me</label>
                <p class="float-right">
                    <a href="{% url 'password_reset' %}" class="no-underline text-primary">Forgot your password?</a>
                </p>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" value="login">Log In</button>
            </div>

            <p class="text-center mb-0">
                New to Cosmos? <a href="{% url 'user_register' %}" class="no-underline text-primary">Click here to join</a>.
            </p>
         </form>
    </div>

{% endblock %}