name: Lint

on:
  push:
    branches:
      - master
      - development
  pull_request:
    branches:
      - master
      - development

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Install requirements
        run: pip install -r requirements.txt  
      - name: Set up Flake8
        run: pip install flake8 flake8-django pep8-naming
      - name: Run flake8
        run: flake8 .
